@import '~@angular/material/theming';

@include mat-core();

$vdf-test-primary: mat-palette($mat-red, A700);
$vdf-test-accent: mat-palette($mat-pink, A200, A100, A400);
$vdf-test-warn: mat-palette($mat-red);
$vdf-test-theme: mat-light-theme($vdf-test-primary, $vdf-test-accent, $vdf-test-warn);

@include angular-material-theme($vdf-test-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
